<h1 class="mb-4">All Blog Lists</h1>

<% @blog_posts.each do |blog| %>
    <div class="card w-75 mb-4">
        <div class="card-header d-flex justify-content-between">
            <h3><%= blog.title %></h3>
            <% if blog.draft? %>
                <h3><span class="badge text-bg-danger">Draft blog</span></h3>
            <% end %>
            <% if blog.scheduled? %>
                <h3><span class="badge text-bg-secondary">Scheduled blog</span></h3>
            <% end %>
        </div>
        <div class="card-body">
            <p><%= blog.body.truncate(150, omission: "...") %></p>
        </div>
        <div class="p-2">
            <%= link_to "See more", blog, class: "btn btn-sm btn-primary" %>
        </div>
    </div>
<% end %>